.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    background-color: #28415a;

    z-index: 50;

    @media (min-width: 769px) {
        display: none;
    }
}
