.top-drawer {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100vw;
    height: 80%;
    background-color: #28415a;
    border-radius: 0 0 40px 40px;

    display: flex;
    align-items: center;

    z-index: 100;

    @media (max-width: 768px) {
        display: none;
    }
}
