.greeting {
    text-align: center;

    margin .message {
        margin: 5px;
        padding: 5px;

        #time-of-day {
            color: #c5d6ed;
        }
    }

    .date {
        margin: 5px;
        padding: 5px;
    }
}
