.greeting {
    text-align: center;

    .message {
        margin: 5px;
        padding: 5px;
        font-size: 2.25rem;

        #time-of-day {
            color: #c5d6ed;
        }
    }

    .date {
        margin: 5px;
        padding: 5px;
        font-size: 1.5rem;
    }
}
