button {
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 23px;
    background: linear-gradient(180deg, #c5d6ed 0%, #e6ebf5 100%);
    text-align: center;
    color: #28415a;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 20px;
    box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.0905231);
    cursor: pointer;
}
