// Layout
// @import "assets/sass/header";
// @import "assets/sass/sidenavbar";
@import "assets/sass/navigation/footer";
@import "assets/sass/navigation/sidedrawer";
@import "assets/sass/navigation/mainnavigation";
@import "assets/sass/navigation/navlinks";

//Pages
@import "../home/assets/sass/home.scss";

//Colours

//Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,800,800i&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

//Typography

//Icons
// @import "components/menuicon";
// @import "components/crossicon";

//Effects

//Border Radius

//Form Elements

//Input

//Range Slider

// Radio

//Checkbox

//Buttons
@import "assets/sass/button";

//Cards
//Overlays
//Components
//Swiper Component
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    background-color: #233750;
    color: #fff;
}

main {
    @media (max-width: 768px) {
        margin-left: 0;
    }
    @media (min-width: 769px) {
        margin-left: 25vw;
    }
}

.container {
    width: 80%;
    margin: 2rem auto;

    p {
        margin: 1rem 0;
    }
}
